node_modules/
npm-debug.log
ormconfig.json
.vscode
typings/
**/*.js.map
output/**/*.*
.nyc_output/
coverage/
.env
*.tgz
.editorconfig
.prettierrc
docker-compose.yml
docker-compose-without-login.yml
gulpfile.js
!src/
src/*
test/
.travis.yml
codecov.yml
tsconfig.json
typings.json
dist/test/
.eslintrc.js
.eslintignore
.tomg-config
